@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-success"><i class="fas fa-list-ul"></i></a>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
</div>